/*Header*/
header{
    background-color:#002f6c;
    border-bottom: 5px solid black;
    margin: -10px;
    margin-top: -15px;
    border-top: 5px solid cornflowerblue;
    height: 133px;
    z-index: 2;
}
/*Navagation Box*/
.header{
    display: flex;
    position: relative;
    bottom: 22px
}
/*Star Water Logo*/
#logo{
    order: 1;
    margin: 10px;
    position: relative;
    top: 25px;
    width: 100px;
    height: 100px;
}
#logo img{
    width: 200px;
    height: 100px;
}
/*Lines in header*/
.Line1{
    border-right: 5px solid black;
    height: 140px;
    order: 2;
}
.Line2{
    border-right: 5px solid black;
    height: 140px;
    order: 3;
    flex-grow: 5;
}
/*animal button*/
.Animals{
    background-color:darkslategrey;
    border-radius: 5px;
    border:15px solid darkslategray;
    order: 4;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10px
}
/*suggestion button*/
.Suggestions{
    background-color:darkslategrey;
    border-radius: 5px;
    border:15px solid darkslategray;
    order: 5;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 120px;
    position: relative;
    top: -10px;
    Left: 7px
}
/*links*/
.sociallinks{
    display:grid;
    float: right;
    grid-template-areas: 
    'sociallinks1'
    'sociallinks2'
    'sociallinks3';
    grid-gap: 1px;
    background-color:darkslategrey;
    border-radius: 5px;
    border:5px solid darkslategray;
    margin: -10px;
    order:6 ;
    margin: 10px;
    position: relative;
    Left: 10px;
    top: -10px
}
/*header flexbox materials*/

.sociallinks1{
    align-items: center;
}
.sociallinks2{
    position: relative;
    left:5px;
    top:-5px;
}
.sociallinks3{
    position: relative;
    left:5px;
}
.sugimg{
    width: 60px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.aniimg{
    width: 70px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Side Design*/

.side{
    background-image: url(../Images/Grass.png);
    background-repeat: repeat-y;
    position: relative;
    left: -15px;
    z-index: -1;
}
.side2{
    background-image: url(../Images/Grass.png);
    background-repeat: repeat-y;
    transform: rotateY(180deg);
    position: relative;
    left: 15px;
    z-index: -1;
}
/*Background Color*/
body{
    background-color: #feeabb;
}
/*FORM STYLING*/
.Form{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.Form > h1{
    text-align: center;
    color: white;
    background-color: black;
    border: 5px;
    border-radius: 5px;
    font-size: 50px;
    z-index: 1;
    width: 500px;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 5px black;
    position: relative;
    right: -300px
}
form{
    background-color: #002f6c;
    display: flex;
    flex-direction: column;
    border: 15px solid #002f6c;
    border-radius: 15px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 5px black;
}
label{
    color: white;
    border: 5px;
    border-radius: 5px;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 5px black;
    background-color: black;
    text-align: center;
    margin: 5px
}
form > p{
    color: white;
    border: 5px;
    border-radius: 5px;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 5px black;
    background-color: black;
    text-align: center;
}
.Submit{
    background-color: black;
    color: white;
    margin: 5px;
}
input[type=submit]:hover{
    background-color: white;
    color: black;
    margin: 5px;
}
input[type=text]:focus {
    background-color: lightblue;
  }
input[type=textarea]:focus {
    background-color: lightblue;
  }
.radio{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
/*Footer*/
footer{
    background-color: #002f6c;
    border-top: 5px solid black;
    margin: -15px;
    position: relative;
    top: 15px;
}
footer > h3 {
    text-align: center;
    color: white;
    font-size: 30px;
}
footer>h6{
    font-size: 10px;
    text-align: center;
    padding: 40px;
    color: white;
}
