
/*Header*/
header{
    background-color:cornflowerblue;
    border-bottom: 5px solid black;
    margin: -10px;
    margin-top: -15px;
    border-top: 5px solid cornflowerblue;
    height: 133px;
}
/*Navagation Box*/
.header{
    display: flex;
    position: relative;
    bottom: 22px
}
/*Star Water Logo*/
#logo{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    order: 1;
    margin: 10px;
    position: relative;
    top: 25px;
}
/*Lines in header*/
.Line1{
    border-right: 5px solid black;
    height: 140px;
    order: 2;
}
.Line2{
    border-right: 5px solid black;
    height: 140px;
    order: 3;
    flex-grow: 5;
}
/*animal button*/
.Animals{
    background-color:darkslategrey;
    border-radius: 5px;
    border:15px solid darkslategray;
    order: 4;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
/*suggestion button*/
.Suggestions{
    background-color:darkslategrey;
    border-radius: 5px;
    border:15px solid darkslategray;
    order: 5;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 120px;
    position: relative;
    Left: 7px
}
/*links*/
.sociallinks{
    display:grid;
    float: right;
    grid-template-areas: 
    'sociallinks1'
    'sociallinks2'
    'sociallinks3';
    grid-gap: 1px;
    background-color:darkslategrey;
    border-radius: 5px;
    border:5px solid darkslategray;
    margin: -10px;
    order:6 ;
    margin: 10px;
    position: relative;
    Left: 10px
}
/*header flexbox materials*/

.sociallinks1{
    align-items: center;
}
.sociallinks2{
    position: relative;
    left:5px;
    top:-5px;
}
.sociallinks3{
    position: relative;
    left:5px;
}
.sug{
    color:white;
}
.sugimg{
    width: 60px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ani{
    color:white;
}
.aniimg{
    width: 70px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Index Page overall design*/
body{
    background-color: #feeabb;
}

#animalheader{
    text-align: center;
    color: black;
    background-color: white;
    border: 15px;
    border-radius: 15px;
    font-size: 25px;
}
.test{
    display:grid;
    grid-template-columns:  20% 60% 20%;
    max-width: 100%;
    position: relative;
    top: 3px;
}
.test2{
    display:grid;
    grid-template-columns:  10% 40% 40% 10%;
    max-width: 100%;
    position: relative;
    top: 3px;
}

/*Map design row-gap: 40px; */
#map{
    background-color: #3F5466;
    border: 15px solid #3F5466;
    border-radius: 15px;
    padding:20px ;
    gap: 20px;
    align-content: center;
    margin: 15px;
}
.MapDesign  > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid grey;
    border-radius: 5px;
    text-align: center;
    gap: 50px;
    
}
.MapDesign > h3 {
    text-align: center;
    color: white;
    font-size: 30px;
}

/*Side Design*/

.side{
    background-image: url(../Images/Grass.png);
    background-repeat: repeat-y;
    position: relative;
    left: -15px;
}
.side2{
    background-image: url(../Images/Grass.png);
    background-repeat: repeat-y;
    transform: rotateY(180deg);
    position: relative;
    left: 15px;
}


/*Main Page imgs and Paragraphs*/

#Animal1{
    background-color: #3F5466;
    border: 15px solid #3F5466;
    border-radius: 15px;
    display: grid;
    padding:20px ;
    gap: 20px;
    margin: 15px;
}
#Animal1 > img{
    width: 40%;
}
.animal{
    display: flex;
    border: 10px solid grey;
    border-radius: 5px;
    text-align: center;
    gap: 50px;
    grid-area: "img";
}
.animal > h2{
    color: black;
    background-color: white;
    flex-basis: 40px;
    text-align: center;
    background-size: 100px;
    margin-right: 140px;
    margin-left: 140px;
    border: 5px white;
    border-radius: 15px;
    font-size: 35px;
}
.animal{
    display: flex;
    border: 10px solid grey;
    border-radius: 5px;
    text-align: center;
    gap: 50px;
    grid-area: "img";
}
.animal2{
    text-align: center;
    color: white;
    grid-area: "h2"
}
.animal3{
    font-size: 25px;
    background-color: grey;
    border: 10px solid grey;
    border-radius: 5px;
    justify-content: flex-start;
    text-align:center;
    padding-left: 20px;
    padding-right: 20px;
    grid-area: "p"
}
main quote{
    background:#3F5466;
    display: block;
    margin: 20px;
    font-size: 2em;
    line-height: 1.2;
    padding: 15px;
    border-radius: 30px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 40px;
 }

.video{
    display: flex;
    justify-content: center;
}
.video > video{
    opacity: 0.7;
    border-bottom: black solid 5px;
        position: relative;
        top: 3;
        left: 0;
        z-index: -1;
        min-width: 100vw;
        min-height: 100vh;
}
button{
    display: block;
    margin: auto auto;
    width: 200px;
    background-color: #09f;
    color: white;
    border: 20px solid #09f;
    border-radius: 4px;
    font-size: 25px;
    position: absolute;
    bottom: 600px;
}
/*Animals Page*/
#Animal1_ani{
    background-color: #3F5466;
    border: 15px solid #3F5466;
    border-radius: 15px;
    display: grid;
    padding:20px ;
    gap: 20px;
    margin: 15px;
}
.animal_ani > img{
    display: block;
    margin: auto auto;
    border: 10px solid grey;
    border-radius: 5px;
    text-align: center;
    width: 600px;
    height: auto;
}




























/*FORM STYLING*/
form{
    background-color: #3F5466;
    display: flex;
    flex-direction: column;
    border: 15px solid #3F5466;
    border-radius: 15px;
    padding-bottom: 20px;
    margin: 85px;
}
main > h1{
    color: black;
    background-color: white;
    flex-basis: 40px;
    text-align: center;
    background-size: 100px;
    margin-right: 140px;
    margin-left: 140px;
    border: 5px white;
    border-radius: 15px;
    font-size: 35px;
}
/*Footer*/
footer{
    background-color: cornflowerblue;
    border-top: 5px solid black;
    margin: -15px;
    position: relative;
    top: 15px;
}

footer > h3 {
    text-align: center;
    color: white;
    font-size: 30px;
}
footer>h6{
    font-size: 10px;
    text-align: center;
    padding: 40px;
}
